/* You can add global styles to this file, and also import other style files */
/* styles.css */


body{
    background-color: black!important;
    min-height: 100vh!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Poppins"!important; }
